/* --------Basic Setup-------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  color: rgb(80, 79, 79);
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
/* clears float after an element */
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* -------Reusable Components ------- */
.row {
  max-width: 1140px;
  /* top and bottom 0 and left and right auto */
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* -------Headings------- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  /* 240% of the set font-size for HTML */
  font-size: 240%;
  word-spacing: 3px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  /* must specify content when using after pseudo class */
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ------Paragraphs------ */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.features .long-copy {
  margin-bottom: 30px;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ------Icons------ */
.icon-big {
  font-size: 300%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 130%;
  margin-right: 10px;
  /* secrets to align text and icons */
  line-height: 130%;
  vertical-align: middle;
  margin-top: -5px;
}
/* -------Buttons------- */
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  /* removes underline from a elements */
  text-decoration: none;
  border-radius: 200px;
  border: 1px solid #e67e22;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
  color: #fff;
}

/* -------Links------- */
a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  padding-bottom: 1px;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* -------Header------- */
header {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../images/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  /* sets the height of the header to be 100% of the viewport height */
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  /* has the text stay in the center of the page */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

/* Main Nav */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  /* lets the elements be side by side */
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 4px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/* Mobile Nav */
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* Sticky Nav */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.801);
  box-shadow: 0 2px 2px rgb(223, 221, 221);
  /* defines vertical stacking of elements, 9999 is the highest value */
  z-index: 9999;
}

.sticky .main-nav {
  margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 16px 0;
  color: #555;
}

.sticky .logo {
  display: none;
}

.sticky .logo-black {
  display: block;
}

/* ------Meals------ */
.meals-section {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  /* needs to have a black background when setting opacity if you want the image to be darker before hover */
  background-color: black;
}

.meal-photo img {
  /* makes the image exactly as wide as its container */
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  opacity: 1;
}

/* ------How it works------ */
.steps {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  /* works for all inline block elements not just text */
  text-align: right;
  /* percentages allow for fluid web design since things are not define by pxs */
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  /* ensures the element does not force a line break */
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ------Cities------ */
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 5px;
}

/* -------Testimonials------ */
.testimonials {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.801)),
      to(rgba(0, 0, 0, 0.801))
    ),
    url(../images/back-customers.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.801)),
    url(../images/back-customers.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201C";
  display: block;
  font-size: 400%;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ------Plans------ */
.plans {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  /* half of the remaining ten percent */
  margin-left: 5%;
  /* first value is x, second is y, and the third is the blur, the final is the color */
  -webkit-box-shadow: 0 2px 2px rgb(133, 132, 132);
  box-shadow: 0 2px 2px rgb(133, 132, 132);
}
.plan-box div {
  padding: 15px;
  border-bottom: 1px solid rgb(240, 238, 238);
}

.plan-box div:first-child {
  background-color: rgb(240, 240, 240);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border-bottom: none;
}

.plan-price {
  font-size: 250%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}

.plan-price span {
  /* 30% of the parent element and not the html */
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan ul li {
  padding: 5px 0;
}

/* ------Contact Form--------- */
.contact-form {
  /* this will center contact form inside of parent element */
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  /* fill entire column */
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* -------Footer------- */
footer {
  background-color: #555;
  padding: 50px;
  font-size: 80%;
}

.footer-elements {
  -ms-flex-line-pack: center;
  align-content: center;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 150%;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googeplus,
.ion-logo-instagram {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-logo-facebook:hover {
  color: #3b5998;
}

.ion-logo-twitter:hover {
  color: #1da1f2;
}

.ion-logo-googleplus:hover {
  color: #4285f4;
}

.ion-logo-instagram:hover {
  color: #c32aa3;
}

footer p {
  color: #888;
  text-align: center;
  font-size: 90%;
  margin-top: 20px;
}

/* ------Animations------ */

.js-wp-1,
.js-wp-2,
.js-wp-3 {
  /* to hide on page load */
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js-wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

/* has the first class and the animated class at the same time */
.js-wp-1.animated,
.js-wp-2.animated,
.js-wp-3.animated {
  opacity: 1;
}
